<h2>{{mname}}</h2>
<div class="row">

    <div class="one-half column">                       
        <h5>Add a comment</h5>
        <form id="comment-submit">
            <input type="hidden", id="machine-id", name="machine-id", value="{{id}}"/>                                
            <textarea id="comment-text" name="comment" rows="4" required></textarea><br>
            <input type="submit" value="submit"/>
        </form>
        <h5>Comments</h5>
        <p>
        {{#each comments as |comment|}}
        {{> machine-comments}}
        {{/each}}
        </p>
    </div>
    <div class="one-half column">
        <h5>Highscores</h5>
        <div class="post-item">
            {{#each highscores as |highscore|}}
            {{> machine-highscores}}
            {{/each}}
            {{!-- <div class="post-text-box">
                <h5>{{mname}}</h5>
                <p>{{score}}</p>
                <img class="post-img" src="./public/images/320x200-placeholder.png" alt="placeholder Image">
            </div> --}}
        </div>
        <h5>Add a Highscore</h5>
        <form id="highscore-submit">
            <input type="hidden", id="machine-id", name="machine-id", value="{{id}}"/>                                
            <label for="highscore">Highscore:</label>
            <input type="text" id="highscore" name="highscore" required/>
            <br>
            <input type="submit" value="submit"/>
        </form>
    </div>
</div>

<script src="/js/addComment.js"></script>
<script src="/js/addHighscore.js"></script>